/* font: import ================================================ */
@font-face {
  font-family: 'AUTHENTICSans-60';
  src: url('./font/AUTHENTICSans-60.woff2') format('woff2');
  src: url('./font/AUTHENTICSans-60.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AUTHENTICSans-90';
  src: url('./font/AUTHENTICSans-90_ig.woff2') format('woff2');
  src: url('./font/AUTHENTICSans-90_ig.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AUTHENTICSans-130';
  src: url('./font/AUTHENTICSans-130.woff2') format('woff2');
  src: url('./font/AUTHENTICSans-130.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AUTHENTICSans-150';
  src: url('./font/AUTHENTICSans-150.woff2') format('woff2');
  src: url('./font/AUTHENTICSans-150.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'History_02';
  src: url('./font/History_02.woff2') format('woff2');
  src: url('./font/History_02.woff') format('woff');
}

@font-face {
  font-family: 'History_04';
  src: url('./font/History_04.woff2') format('woff2');
  src: url('./font/History_04.woff') format('woff');
}

@font-face {
  font-family: 'History_05';
  src: url('./font/History_05.woff2') format('woff2');
  src: url('./font/History_05.woff') format('woff');
}

@font-face {
  font-family: 'History_14';
  src: url('./font/History_14.woff2') format('woff2');
  src: url('./font/History_14.woff') format('woff');
}

@font-face {
  font-family: 'History_15';
  src: url('./font/History_15.woff2') format('woff2');
  src: url('./font/History_15.woff') format('woff');
}

@font-face {
  font-family: 'History_21';
  src: url('./font/History_21.woff2') format('woff2');
  src: url('./font/History_21.woff') format('woff');
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 600,
  'GRAD' 0,
  'opsz' 24
}


/* default ================================================ */
html, body {
  font-family: "AUTHENTICSans-90", Arial, sans-serif;
}

/* default: selected ================================================ */
::selection {
  color: white;
  background: black;
}

::-moz-selection {
  color: white;
  background: black;
}


/* default ================================================ */
a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

a:hover {
  color: black;
}

i {
  font-weight: bold;
}


/* menu ================================================ */
.font-menu {
  margin: 0;
  padding: 0 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-family: "AUTHENTICSans-90", Arial, sans-serif;
  font-size: 24px;
  color: white;
}

.font-menu:hover {
  color: white;
}

/* .menu-selected {
  text-decoration: underline;
} */


/* p / pre ================================================ */
p {
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 16px;
  line-height: 20px;
  padding: 20px;
}

.col3 p {
  padding: 0 0 20px 0;
}

pre {
  margin-block-start: 0;
  margin-block-end: 0;
  font-family: "AUTHENTICSans-90", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  white-space: break-spaces;
  padding: 20px 0 20px 20px;
}

/* headers ================================================ */
h1 {
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 90px;
  font-weight: normal;
  line-height: 90px;
  padding: 0 0 20px 20px;
}

h2 {
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 40px;
  font-weight: normal;
  padding: 20px;
  color: white;
  mix-blend-mode: difference;
}

h3 {
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 28px;
  font-weight: normal;
  padding: 20px;
}

.col3 h3 {
  padding: 20px 0 20px 0;
}

h4 {
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 24px;
  font-weight: normal;
}

h6 {
  margin-block-start: 0;
  margin-block-end: 10px;
  font-size: 16px;
  font-weight: normal;
}


/* list ================================================ */
ul {
  list-style:none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
  padding: 0 20px;
  font-size: 16px;
}

li{
  line-height: 20px;
}
