/* ============================================================================= */
/* bg: col1 */
/* ============================================================================= */
.bg-clinic {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100dvh;
  background-image: linear-gradient(rgba(0,0,0,0.1)), url("img_design_clinic/design_clinic_1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}



/* ============================================================================= */
/* bg: col3-bc */
/* ============================================================================= */
.bg-project {
  min-height: 100dvh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.bg-clinic-sub {
  width: 100%;
  min-height: 100dvh;
  background-image: linear-gradient(rgba(0,0,0,0)), url("img_projects/50_apartment_of_curiosities/aaa_aptofcuriosities_11.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.bg-about {
  min-height: 100dvh;
  background-image: linear-gradient(rgba(0,0,0,0)), url("img_about/profile_1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.bg-contact {
  min-height: 100dvh;
  background-image: linear-gradient(rgba(0,0,0,0)), url("img_contact/contact_header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.bg-press {
  min-height: 100dvh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}