/* ============================================================================= */
/* Default */
/* ============================================================================= */
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: white;
  mix-blend-mode: multiply;
}

::-webkit-scrollbar { 
  width: 0;
  height: 0;
}


/* ============================================================================= */
/* Menu */
/* ============================================================================= */
#menu-l {
  position: fixed;
  top: 13px;
  left: 10px;
  margin: 0;
  padding: 0;
  z-index: 10;
  color: white;
  mix-blend-mode: difference;
}

#menu-r {
  position: fixed;
  top: 13px;
  right: 10px;
  margin: 0;
  padding: 0;
  z-index: 9;
  color: white;
  mix-blend-mode: difference;
}

#menu-m {
  display: none;
  position: fixed;
  top: 12px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  mix-blend-mode: difference;
  font-size: 28px;
  color: white;
  z-index: 9;
}


/* ============================================================================= */
/* pages */
/* ============================================================================= */
.page1,
.page2,
.page3,
.page4,
.page5,
.page6 {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 7;
  overflow: hidden;
}

.page2,
.page3,
.page4,
.page5,
.page6 {
  display: none;
}


/* ============================================================================= */
/* Layout: Basic */
/* ============================================================================= */
.scrollContents {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  font-size: 0;
}

.section-padding {
  height: 100px;
  pointer-events: none;
}


/* ============================================================================= */
/* Layout: col3 */
/* ============================================================================= */
.col3 {
	display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 20px;
  column-gap: 20px;
}


/* ============================================================================= */
/* Layout: col3-a-bc */
/* ============================================================================= */
.col3-a-bc {
	display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 20px;
  padding: 0;
}

.col3-a {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: sticky;
  top: 0;
  width: 100%;
  height: 100dvh;
  border: none;
}

.col3-a > p {
  padding: 0 0 20px 20px;
}

.col3-bc {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  padding: 0;
  border: none;
}



/* ============================================================================= */
/* page1: Home */
/* ============================================================================= */
#col3-home-splash {
  transition: opacity 0.5s ease;
  opacity: 1;
}

#col3-home-splash.hidden {
  opacity: 0;
}

.splash-container-logo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-content: center;
  justify-items: center;
  align-items: center;

  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  width: 100%;
  height: 100%;
  z-index: 2;
  pointer-events: none;
  -webkit-backdrop-filter: brightness(0.7);
  -moz-backdrop-filter: brightness(0.7);
  -ms-backdrop-filter: brightness(0.7);
  -o-backdrop-filter: brightness(0.7);
  backdrop-filter: brightness(0.7);
}

.splash-logo {
  font-size: 300px;
  color: white;
}

.splash-container-plus {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  align-content: center;
  justify-items: center;
  align-items: center;

  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  width: 100%;
  height: 100dvh;
  z-index: 2;
  pointer-events: none;
}

.splash-puls {
  width: 85px;
  padding-top: 81px;
}

.col3-home {
	display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
}

.col3-home-item {
  display: block;
  width: 100%;
  padding: 0;
  border: none;
}

.col3-home-item > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
}

.col3-home-item > figure {
  cursor: pointer;
}



/* ============================================================================= */
/* page2: Projects */
/* ============================================================================= */
/* Projects: Filter */
/* ----------------------------------------------------------------------------- */
.filter-container {
  display: grid; 
  width: calc(100vw - 5vw);
  grid-auto-columns: 1fr; 
  grid-auto-rows: 1fr; 
  grid-template-columns: 1fr 1fr 1fr; 
  gap: 0 2.5vw;
  margin-bottom: 24px;
  padding: 120px 2.5vw 120px 2.5vw;
}

.filter-info {
  padding: 60px 0 0 0;
}

.filter-info > p {
  padding: 0;
}

.filter-type {
  padding: 0 0 20px 4px;
}

.type-item,
.category-item {
  display: inline-block;
  margin: 0 8px 8px 0;
  padding: 5px 15px 5px 15px;
  border: 1px solid #aaaaaa;
  outline: 1px solid transparent;
  border-radius: 24px;
  cursor: pointer;
  font-size: 21px;
  background: transparent;
}

.type-item.is-hidden,
.category-item.is-hidden {
  display: none;
}

.item-selected {
  border: 1px solid black;
  outline: 1px solid black;
}

.type-toggle,
.category-toggle {
  display: inline-block;
  height: 28px;
  margin: 0;
  padding: 7px 0 3px 4px;
  border: 1px solid transparent;
  outline: 1px solid transparent;
  cursor: pointer;
  font-size: 21px;
}


/* ----------------------------------------------------------------------------- */
/* Projects: Thumbnail */
/* ----------------------------------------------------------------------------- */
#thumbnails-loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: flex-end;
  
  background-color: white;
  background-repeat: no-repeat;
  background-size: 50% auto;
  background-position: center center;
  z-index: -1;
}

#thumbnails {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.thumbnail-item {
  width: 30vw;
  margin-bottom: 25px;
  padding: 0;
  cursor: pointer;
}

.thumbnail-img {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 8px;
}

.thumbnail-title {
  font-size: 16px;
  margin-bottom: 1px;
}

.thumbnail-sub {
  font-size: 16px;
  margin-bottom: 6px;
}


/* ----------------------------------------------------------------------------- */
/* Projects: Detail */
/* ----------------------------------------------------------------------------- */
#projectDetail {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  font-size: 0;
}


/* ============================================================================= */
/* page3: Design Clinic */
/* ============================================================================= */
.clinic-logo {
  display: block;
  width: 80%;
}

.clinic-logo-twolines {
  display: none;
  width: 75%;
}

.clinic-info {
  margin-bottom: 26px;
}
    
.clinic-info > h6 {
  padding-left: 20px;
}

.clinic-info > p {
  padding: 0 15px 0 20px;
}

.clinic-btn {
  width: 170px;
  height: 40px;
  margin: 0 20px 36px 20px;
  padding: 0 15px 0 15px;
  border: none;
  border-radius: 24px;
  background: black;
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: white;
  cursor: pointer;
}



/* ============================================================================= */
/* page4: About */
/* ============================================================================= */
.col3-about {
	display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 20px 100px 20px;
  column-gap: 20px;
}

.about-item {
  padding-bottom: 20px;
}

.col3-about img {
  width: 100%;
}

.col3-about p {
  padding: 20px 0 0 0;
}


/* ============================================================================= */
/* page5: Press */
/* ============================================================================= */
.col1-press {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;
}

.press-list {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  font-size: 24px;
}

.press-item {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 20px;
  padding: 14px 0 14px 0;
  border-bottom: 2px solid black;
}

.press-col-header {
  display: grid;
  grid-template-columns: auto 1fr;
}

.press-col-1 {
  padding: 0 20px 0 20px;
}

.press-col-2 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
}

.press-col-3 {
  padding: 0 10px 0 0;
}


/* ============================================================================= */
/* page6: Contact */
/* ============================================================================= */
.col3-contact {
  display: grid;
  width: calc(100% - 40px);
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  column-gap: 20px;
  grid-auto-flow: row;
  padding: 50px 20px 0 20px;
}


/* ============================================================================= */
/* Footer */
/* ============================================================================= */
.col1-footer {
  width: 100%;
  padding: 0 0 500px 0;
  border: none;
  background-repeat: no-repeat;
  background-size: 80% auto;
  background-position: top center;
}

.col3-footer {
  display: grid;
  width: calc(100% - 40px);
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  column-gap: 20px;
  grid-auto-flow: row;
  padding: 0 20px;
}

.footer-item {
  padding: 20px 0;
}

