@media only screen and (max-width:1400px) {
  /* ============================================================================= */
  /* Font */
  /* ============================================================================= */
  h1 {
    font-size: 42px;
    line-height: 42px;
  }

  /* ============================================================================= */
  /* Layout: col3-a-bc */
  /* ============================================================================= */
  .col3-a > p {
    font-size: 16px;
  }
  /* ============================================================================= */
}




@media only screen and (max-width:1024px) {
  /* ============================================================================= */
  /* bg */
  /* ============================================================================= */
  .bg-clinic-sub {
    display: none;
  }

  /* ============================================================================= */
  /* Layout: Basic */
  /* ============================================================================= */
  .section-padding {
    height: 0;
  }

  /* ============================================================================= */
  /* Layout: col3 */
  /* ============================================================================= */
  .col3 {
    grid-template-columns: 1fr;
  }
  
  /* ============================================================================= */
  /* Layout: col3-a-bc */
  /* ============================================================================= */
  .col3-a-bc {
    grid-template-columns: 1fr;
  }

  .col3-a {
    position: static;
    height: auto;
    padding: 40px 0px 40px 0px;
  }

  .col3-a > p {
    padding: 0 15px 20px 20px;
  }

  .col3-bc {
    grid-row: 1;
  }

  /* ============================================================================= */
  /* page1: Home */
  /* ============================================================================= */
  .splash-container-logo {
    grid-template-columns: none;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .splash-logo {
    font-size: 250px;
    padding-bottom: 10px;
  }

  .splash-container-plus {
    grid-template-columns: none;
    grid-template-rows: 1fr 2fr 2fr 1fr;
  }

  .splash-puls {
    width: 70px;
    padding-top: 0;
  }
  
  .col3-home {
    grid-template-columns: none;
    grid-template-rows: 33.3svh 33.3svh 33.3svh;
  }

  .col3-home-item {
    min-height: auto !important;
    height: 100%;
  }

  .col3-home-item figure {
    min-height: auto !important;
    height: 100%;
  }


  /* ============================================================================= */
  /* page2: Projects */
  /* ============================================================================= */
  /* Projects: Filter */
  /* ----------------------------------------------------------------------------- */
  .filter-container {
    grid-auto-columns: 1fr;
    grid-auto-rows: auto auto auto;
    grid-template-columns: 1fr;
    padding: 30px 0 30px 0;
  }

  .filter-info {
    padding: 60px 15px 30px 20px;
  }

  #typeFilter {
    padding: 0 20px 20px 20px;
  }

  #categoryFilter {
    padding: 0 20px 0 20px;
  }


  /* ============================================================================= */
  /* page3: Design Clinic */
  /* ============================================================================= */
  .clinic-logo {
    display: none;
  }

  .clinic-logo-twolines {
    display: block;
  }

  .clinic-btn {
    margin: 10px auto 20px auto;
  }

  /* ============================================================================= */
}






@media only screen and (max-width:760px) {  
  /* ============================================================================= */
  /* Font */
  /* ============================================================================= */
  pre {
    padding: 0 15px 0 20px;
  }

  h1 {
    padding: 0 0 20px 20px;
  }

  h2 {
    font-size: 28px;
  }

  h4 {
    font-size: 16px;
  }

  h6 {
    margin-block-end: 2px;
  }

  /* ============================================================================= */
  /* Menu */
  /* ============================================================================= */
  #menu-r {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding: 60px 10px;
    gap: 10px;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
  }

  #menu-r.open {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  #menu-m {
    display: block;
  }

  /* ============================================================================= */
  /* bg */
  /* ============================================================================= */
  .bg-about, .bg-press, .bg-contact{
    min-height: 66.6vh;
  }

  /* ============================================================================= */
  /* Layout: col3 */
  /* ============================================================================= */
  .col3 {
    grid-template-columns: 1fr;
  }

  /* ============================================================================= */
  /* page1: Home */
  /* ============================================================================= */
  .splash-logo {
    font-size: 170px;
    
  }

  .splash-puls {
    width: 55px;
    
  }


  /* ============================================================================= */
  /* page2: Projects */
  /* ============================================================================= */
  /* Projects: Filter */
  /* ----------------------------------------------------------------------------- */
  .type-item,
  .category-item {
    border-radius: 20px;
    font-size: 16px;
  }

  .type-toggle,
  .category-toggle {
    font-size: 16px;
  }

  /* ----------------------------------------------------------------------------- */
  /* Projects: Thumbnail */
  /* ----------------------------------------------------------------------------- */
  #thumbnails-loading {
    background-size: 100% auto;
  }

  .thumbnail-item {
    width: 100vw;
    padding: 0 20px 0 20px;
  }

  /* ============================================================================= */
  /* page4: About */
  /* ============================================================================= */
  .col3-about {
    grid-template-columns: 1fr;
  }

  /* ============================================================================= */
  /* page5: Press */
  /* ============================================================================= */
  .press-list {
    font-size: 16px;
  }

  .press-item {
    grid-template-columns: auto 1fr;
    border-bottom: 1px solid black;
  }

  .press-col-2 {
    display: none;
  }

  /* ============================================================================= */
  /* page6: Contact */
  /* ============================================================================= */
  .col3-contact {
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
  }

  .col3-contact {
    padding-top: 0;
  }

  /* ============================================================================= */
  /* Footer */
  /* ============================================================================= */
  .col1-footer {
    padding: 0 0 250px 0;
    background-position: center bottom !important;
  }

  .col3-footer {
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
  }

  .footer-item {
    padding: 20px 0 6px 0;
  }

  .footer1 {
    grid-row: 1;
  }

  .footer2 {
    grid-row: 2;
  }

  .footer3 {
    grid-row: 6;
  }

  .footer4 {
    grid-row: 4;
  }

  .footer5 {
    grid-row: 3;
  }

  .footer6 {
    grid-row: 5;
  }

  /* ============================================================================= */
}