
@media only screen and (max-width:1400px) {

  .about-header {
    font-size: 42px;
  }

  .about-text {
    font-size: 16px;
  }
  
  /* .about-subbody {
    font-size: 28px;
    margin-block-start: 0;
    margin-block-end: 0;
    padding: 0 20px 0 20px;
  } */

  /* .col3-about {
    display: block;
  }

  .col3-about > div {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 0 0 100px 0;
  } */
}

@media only screen and (max-width:1024px) {
  .col3-home {
    grid-template-columns: 1fr;
  }

}

@media only screen and (max-width:600px) {  
  h2 {
    font-size: 28px;
  }

  table {
    font-size: 21px;
  }

  .col3-a > pre {
    padding: 0 10px 0 20px;
  }

  .hamburger {
    display: block;
  }

  #menu-r {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding: 60px 10px;
    gap: 10px;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
  }

  #menu-r.open {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .col3 {
    grid-template-columns: 1fr;
  }

  .col3-bc {
    grid-row: 1;
  }

  .col3-bc.bg-clinic2 {
    grid-row: auto;
  }

  .bg-about, .bg-clinic2, .bg-press, .bg-contact{
    width: 100%;
    margin-left: 0;
    min-height: 50vh;
  }

  .col3-home {
    grid-template-rows: 33.3vh 33.3vh 33.3vh;
  }

  .col3-home-a {
    min-height: auto !important;
    height: 100%;
  }

  .col3-home-a figure {
    min-height: auto !important;
    height: 100%;
  }

  .col1-home {
    padding: 0 0 250px 0;
    background-position: center bottom !important;
  }

  .col3-home-info{
    grid-template-columns: 1fr;
  }

  .col3-home-logo {
    flex-direction: column;
  }

  .col3-home-plus {
    flex-direction: column;
  }

  .col3-home-logo h1 {
    font-size: 250px;
  }

  .col3-about {
    grid-template-columns: 1fr;
  }

  .col3-about > div {
    grid-template-columns: 1fr;
  }

  .about-text {
    padding: 0 15px 20px 20px;
  }

  .about-subbody {
    font-size: 16px;
    margin-block-start: 0;
    margin-block-end: 0;
    padding: 20px 0 20px 0;
  }

  .col3-a-bc {
    grid-template-columns: 1fr;
  }

  .col3-a {
    position: static;
    height: auto;
    padding: 10px 0px 40px 0px;
  }    

  #loadingImg {
    background-size: 100% auto;
  }


  .categories {
    grid-auto-columns: 1fr;
    grid-auto-rows: auto auto auto;
    grid-template-columns: 1fr;
    padding: 30px 0 30px 0;
  }

  .category-info {
    padding: 60px 15px 30px 20px;
    /* width: 90vw;
    padding-bottom: 40px; */
  }

  #typeList {
    padding: 0 20px 20px 20px;
  }

  #categoryList {
    padding: 0 20px 0 20px;
  }

  .type-toggle,.category-toggle {
    font-size: 16px;
  }

  .type-item {
    height: 20px;
    border-radius: 20px;
    font-size: 16px;
  }

  .category-item {
    height: 20px;
    border-radius: 20px;
    font-size: 16px;
  }

  .category-list{
    width: 90vw;
  }

  .category-item {
    width: auto;
  }

  .sheet {
    width: 100vw;
    padding: 0 20px 0 20px;
  }

  #content {
    padding-top: 70px;
  }

  .header-press {
    grid-template-columns: 88px 1fr;
  }

  .press-item {
    grid-template-columns: auto 1fr;
  }

  .press-grid {
    font-size: 16px;
  }

  .press-col-2 {
    display: none;
  }

  #press_read {
    display: none;
  }

  .col3-contact {
    grid-template-columns: 1fr;
  }
}